// Modify buttons to use Foundation styling

button {
	&.largeBtn, &.altLargeBtn, &.defaultBtn, &.altBtn, &.modalBtn, &.altModalBtn {
		// Button reset
		height: auto;
		@extend .button;
		@extend .radius;

		span{
			height: auto;
			line-height: inherit;
			padding: 0;
		}
	}

	&.largeBtn, &.defaultBtn, &.modalBtn {

	}

	&.altLargeBtn, &.altBtn, &.altModalBtn {
		// Alt button styles
		background: $alt-color;

		&:hover{
			background-color: scale-color($alt-color, $lightness: $button-function-factor);
		}

		span{
			color: $offBlack;
		}
	}

	&.largeBtn, &.altLargeBtn {
		
	}

	&.defaultBtn, &.altBtn {
		@extend .small;
	}
	
	&.modalBtn, &.altModalBtn {
		@extend .tiny;
		margin-bottom: 0;
	}
}

a{
	&.largeLinkBtn, &.linkBtn, &.linkAltBtn, &.modalLinkBtn, &.modalLinkAltBtn {
		// Button reset
		height: auto;
		line-height: inherit;
		text-decoration: none;

		@extend .button;
		@extend .radius;

		span{
			height: auto;
			line-height: inherit;
			padding: 0;
		}
	}

	&.largeLinkBtn, &.linkBtn, &.modalLinkBtn {
		// Regular button styles
	}

	&.linkAltBtn, &.modalLinkAltBtn {
		// Alt button styles
		background: $alt-color;
		@extend .small;

		&:hover{
			background-color: scale-color($alt-color, $lightness: $button-function-factor);
		}

		span{
			color: $offBlack;
		}
	}

	&.largeLinkBtn {
		
	}

	&.linkBtn{
		@extend .small;
	}
	
	&.modalLinkBtn, &.modalLinkAltBtn {
		@extend .tiny;
		margin-bottom: 0;
	}

	&.v65-cartRemoveButton{
		height: auto !important;
		line-height: inherit !important;
	}
}

#v65-modalCartBody{
	button.modalBtn, button.altModalBtn, a.modalLinkBtn, a.modalLinkAltBtn{
		@media #{$medium-up}{
			padding: 0.1rem 0.8rem 0.2rem;
		}	
	}
}
