header.primary{
	margin-bottom: 1em;
	position: relative;
	z-index: 10;
}

	#user-tools {
		border-bottom: 1px solid $topBarColor;
		float: none;
		font-size: rem-calc(12px);
		margin-bottom: 1em;
		width: auto;

		@media #{$medium-up} {
			border-bottom: 0;
			float: right;
			width: rem-calc(400px);
		}

		a {
			color: $headerFontColor;
		}
	}

	.logo{
		background:{
			image: image-url($logo);
			position: top center;
			repeat: no-repeat;
			size: contain;
		}
		display: block;
		height: 72px;
		position: relative;
		width: 143px;
		margin: 0.5em auto;
		text-align: center;

		@media #{$medium-up}{
			clear: both;
		}

		@media only screen and (min-width: 915px){
			display: none;
		}

		&.error-logo{
			display: block;
		}

		@media screen and (-webkit-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5){
			background-image: image-url($logo-retina);
		}

		li &{
			margin: 0;

			a{
				display: block;
				height: 100%;
				width: 100%;
				line-height: 0;
			}
		}
	}

