/* ----- a. Main Menu ----- */
.mainMenu{
	margin: 1em 0;
	position: relative;
	text-transform: uppercase;
	z-index: 101;

	@media #{$medium-up} {
		clear: both;
	}

	ul{
		font-size: rem-calc(14px);
		@include futura-book;
		list-style: none;
		margin: 0;
		padding: 0;
		position: relative;
		text-align: center;

		ul{
			border: 1px solid $borderColor;
			background: $subNavBackgroundColor;
			display: none;
			font-size: 12px;
			left: -10px;
			position: absolute;
			top: 32px;
			width: 180px;
		}
	}

	li{
		display: inline-block;
		margin: 0 0.3rem;
		padding: 0;
		position: relative;

		@media only screen and (min-width: 776px){
			margin: 0 1.5rem;
		}

		&.centeredLogo{
			display: none;

			@media only screen and (min-width: 915px){
				display: inline-block;
			}

			.logo{
				@media only screen and (min-width: 915px){
					display: block;
				}
			}
		}

		// Drop Down
		&:hover ul{
			@media screen and (min-width: 768px){
				display: block;
			}
		}

		li{
			display: block;
			float: none;
			margin: 0;
			text-align: left;
			width: 180px;

			a{
				color: $subNavLinkColor;
				display: block;
				height: 28px;
				line-height: 28px;
				margin: 0;
				padding: 0 0 0 10px;
				text-align: left;
				text-transform: none;
				width: 170px;

				&:hover{
					color: $subNavLinkHover;
				}
			}
		}
	}

	a{
		color: $navLinkColor;
		display: inline-block;
		height: 44px;
		line-height: 44px;
		margin: 0;
		padding: 0 0.5em;
		position: relative;
		text-decoration: none;

		@media screen and (min-width: 768px){
			height: 32px;
			line-height: 32px;
			padding: 0;
		}

		&:hover{
			color: $navLinkHover;
			text-decoration: none;
		}
	}

	.v65-pageAParent{
		color: $navSelected;
	}

	.v65-home{
		display: none;
	}

	.v65-selected{
		color: $leftNavSelected;
		font-weight: bold;
	}

	.footerMenuLink{
		bottom: 0;
		font-size: 1.5em;
		position: absolute;
		right: 0;

		@media #{$medium-up}{
			display: none;
		}
	}
}

/* ----- b. Sub Menu ----- */
.subMenu{
	border-top: 1px solid $orange;
	@include futura-book;

	@media #{$medium-up} {
		border-right: 1px solid $orange;
		border-top: none;
		padding-bottom: rem-calc(100px);
	}

	.page-parent-title{
		display: none;
		text-transform: uppercase;
		font-size: rem-calc(14px);
		margin-bottom: 1rem;

		@media #{$medium-up} {
			display: block
		}
	}

	ul{
		font-size: rem-calc(14px);
		list-style: none;
		margin: 0;
		padding: 0;
	}

	li{
		line-height: 44px;
		text-align: center;

		@media #{$medium-up} {
			text-align: left;
		}

		ul{
			margin-left: rem-calc(10px);
		}
	}

	a{
		color: $subNavLinkColor;
		display: block;
		text-decoration: none;

		&:hover{
			color: $subNavLinkHover;
		}
	}

	.v65-pageAParent {
		color: $subNavLinkHover;
	}

	.v65-leftSelected{
		color: $subNavLinkHover;
	}
}