html, body{
	color: $fontColor;
	font-family: $fontFamily;
}

body{
	margin: 0 auto;
	max-width: 59.4rem;
}

h1, h2, h3, h4, h5, h6, .v65-title, .v65-subtitle {
	color: $headingFontColor;
	@include garamond-light;
	margin: 0;
}

iframe{
	max-width: 100%;
}

.v65-title { 
	// font-size: 2em;
	line-height: 1;
	margin-bottom: 0.5em;
}

.v65-subtitle {
	// font-size: 1em;
	line-height: 1;
	margin-bottom: 1em;
}

.v65-club{
	font-size: rem-calc(12px);
}

p, blockquote {
	font-size: rem-calc(12px);
	margin: 0 0 1.5em;
	line-height: 1.5;
}

dl, ol, ul {
	font-size: inherit;
	margin-bottom: 1.5em;
}

dd, dt, li {
	font-size: inherit;
	line-height: 1.5;
	margin: 0;
}

a{
	color: $linkColor;
	font-size: 1em;
	text-decoration: underline;

	&:hover, &:focus, &:active{
		color: lighten($linkColor, 10%);
	}
}

img{
	border:none;
	height: auto !important;
	max-width: 100%;
}

form {
	margin-bottom: 1em;
}

legend {
	color: $fontColor;
}

hr {
	background-color: $fontColor;
	border: 0;
	color: $fontColor;
	height: 1px;
}

a[name=footerNav]{
	display: none !important;
}

.grey-text{
	color: $grey;
}